.container{
    width: 6.5rem;
    height: 50rem;
    
}

.rounded-circle{
    width: 5rem;
    height: 5rem;
}

.stick{
    width: 1rem;
    height: 10rem;
    display: flex;
    margin: auto;
}

.border{
    border-radius: 3rem;
}

.bg-pink{
background-color: #9c27b0;
}